.theme-toggle {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    background-color: #B0B0B0;
    color: var(--background);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
        background-color: var(--title);
        transform: scale(1.1);
    }
}

.dark-theme .theme-toggle {
    background-color: #ffffff;
    color: #121212;
}

@media screen and (max-width: 500px) {
    .theme-toggle {
        bottom: 30px;
        right: 15px;
        top: auto;
    }

}
