<div class="nominations-container">
    <div *ngIf="getCategories().length > 0; else noData" class="nominations">
        <div *ngFor="let category of getCategories()" class="category">
            <h2>{{ category }}</h2>
            <div class="category-movies">
                <span *ngFor="let nomination of groupedNominations[category]">
                    <a style="text-decoration: none; color: var(--body);"
                        *ngIf="category === 'Best Picture' && nomination.movies.length > 0"
                        [href]="'https://www.imdb.com/title/' + nomination.movies[0].imdb_id + '/'" target="_blank"
                        rel="noopener noreferrer" class="imdb-link">
                        <span [ngClass]="{'winner-text': nomination.won}">
                            {{ nomination.nominees.join(', ') }}
                        </span>
                    </a>
                    <span *ngIf="category !== 'Best Picture'">
                        <span [ngClass]="{'winner-text': nomination.won}">
                            {{ nomination.nominees.join(', ') }}
                        </span>
                    </span>
                    <span *ngIf="nomination.won" class="winner">🏆</span>
                </span>
            </div>
        </div>
    </div>
    <ng-template #noData>
        <p>Nessun dato disponibile per l'anno {{ year }}.</p>
    </ng-template>
</div>