<div class="nominations-container">
  <div *ngIf="getCategories().length > 0; else noData" class="nominations">
    <div *ngFor="let category of getCategories()" class="category"
      [ngClass]="{'best-picture': category === 'Best Picture'}">
      <h2>{{ category }}</h2>
      <div class="category-movies">
        <ng-container *ngFor="let nomination of groupedNominations[category]">

          <hr *ngIf="nomination.Winner?.trim() && !isSpecialCategory(category)" class="winner-divider-top">

          <div *ngIf="category === 'Best Picture'; else otherCategories">
            <span *ngIf="nomination.FilmId">
              <a [href]="isLetterboxd
                          ? 'https://letterboxd.com/imdb/' + nomination.FilmId + '/'
                          : 'https://www.imdb.com/title/' + nomination.FilmId" target="_blank"
                rel="noopener noreferrer" style="text-decoration: none; color: var(--body);">
                <span class="nomination" [ngClass]="{'winner-text': nomination.Winner.trim()}">
                  <i>{{ nomination.Film }}</i>
                </span>
              </a>
            </span>
            <span *ngIf="!nomination.FilmId && nomination.Film" class="nomination"
              [ngClass]="{'winner-text': nomination.Winner.trim()}">
              <i>{{ nomination.Film }}</i>
            </span>
          </div>

          <ng-template #otherCategories>
            <span class="nomination" [ngClass]="{'winner-text': nomination.Winner.trim()}">
              <ng-container *ngIf="category === 'INTERNATIONAL FEATURE FILM'; else standardNominees">
                <ng-container *ngIf="nomination.NomineeIds?.trim(); else noLinkIntl">
                  <a [href]="'https://www.imdb.com/name/' + nomination.NomineeIds.trim()" target="_blank"
                    rel="noopener noreferrer" style="text-decoration: none; color: var(--body);">
                    {{ nomination.Name }}
                  </a>
                </ng-container>
                <ng-template #noLinkIntl>
                  <a style="text-decoration: none; color: var(--body);">{{ nomination.Name }}</a>
                </ng-template>
              </ng-container>
              <ng-template #standardNominees>
                <ng-container *ngFor="let nominee of getNomineesWithLinks(nomination); let last = last">
                  <ng-container *ngIf="nominee.imdbId; else noLink">
                    <a [href]="'https://www.imdb.com/name/' + nominee.imdbId" target="_blank" rel="noopener noreferrer"
                      style="text-decoration: none; color: var(--body);">
                      {{ nominee.name }}
                    </a>
                  </ng-container>
                  <ng-template #noLink>
                    <a style="text-decoration: none; color: var(--body);">{{ nominee.name }}</a>
                  </ng-template>
                  <span *ngIf="!last">, </span>
                </ng-container>
              </ng-template>
            </span>

            <span *ngIf="nomination.Film">
              <ng-container *ngIf="nomination.FilmId; else filmNoLink">
                <a [href]="isLetterboxd
                            ? 'https://letterboxd.com/imdb/' + nomination.FilmId + '/'
                            : 'https://www.imdb.com/title/' + nomination.FilmId" target="_blank"
                  rel="noopener noreferrer" style="text-decoration:none;" class="nomination-movie">
                  <i>{{ nomination.Film }}</i>
                </a>
              </ng-container>
              <ng-template #filmNoLink>
                <span class="nomination-movie"><i>{{ nomination.Film }}</i></span>
              </ng-template>
            </span>
          </ng-template>

          <span *ngIf="nomination.Winner.trim() && !isSpecialCategory(category)" class="winner">🏆</span>

          <hr *ngIf="nomination.Winner.trim() && !isSpecialCategory(category)" class="winner-divider-bottom">
        </ng-container>
      </div>
    </div>
  </div>

  <ng-template #noData>
    <p>Nessun dato disponibile per l'anno {{ year }}.</p>
  </ng-template>
</div>