<div class="nominations-container">
  <div *ngIf="getCategories().length > 0; else noData" class="nominations">
    <div *ngFor="let category of getCategories()" class="category"
         [ngClass]="{'best-picture': category === 'Best Picture'}">
      <h2>{{ category }}</h2>
      <div class="category-movies">
        <span *ngFor="let nomination of groupedNominations[category]">
          <!-- Nomi candidati -->
          <span class="nomination" [ngClass]="{'winner-text': nomination.won}">
            {{ nomination.nominees && nomination.nominees.length > 0 ? nomination.nominees.join(', ') : 'N/A' }}
          </span>

          <!-- Film con link dinamico IMDb/Letterboxd -->
          <ng-container *ngIf="nomination.movies && nomination.movies.length > 0 && nomination.movies[0]?.imdb_id">
            <a [href]="isImdb 
                        ? 'https://letterboxd.com/imdb/' + nomination.movies[0].imdb_id + '/'
                        : 'https://www.imdb.com/title/' + nomination.movies[0].imdb_id"  
               target="_blank"
               rel="noopener noreferrer"
               style="text-decoration: none; color: var(--body);">
              <span class="nomination-movie"><i>{{ nomination.movies[0].title }}</i></span>
            </a>
          </ng-container>

          <!-- Film senza link -->
          <span *ngIf="!nomination.movies || nomination.movies.length === 0 || !nomination.movies[0]?.imdb_id">
            <span *ngIf="nomination.movies && nomination.movies.length > 0 && nomination.movies[0].title" class="nomination-movie">
              <i>{{ nomination.movies[0].title }}</i>
            </span>
          </span>

          <!-- Icona vincitore -->
          <span *ngIf="nomination.won" class="winner">🏆</span>
        </span>
      </div>
    </div>
  </div>

  <ng-template #noData>
    <p>Nessun dato disponibile per l'anno {{ year }}.</p>
  </ng-template>
</div>
